/* ========== Cheatsheet CSS ========== */
/*Banner Edits */

#banner {
    background-color: #fff8dc;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    color: #301934;
    font-size: 32px;
    padding: 2rem 0 1rem;
    width: 100%;
    margin: 0;
}

.banner-title {
    text-align: center;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    margin: 0 auto;
    display: block;
}

/* ======= Breadcrumb ======== */

.breadcrumb {
    text-align: center;
    padding: 1rem;
    margin: 0 auto;
    border-radius: 8px;
}

.breadcrumb ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.breadcrumb li {
    display: inline-block;
    margin: 0 0.5rem;
    
}

.breadcrumb a {
    text-decoration: none;
    font-weight: bold;
}

.breadcrumb a:hover {
    color: #ffc0cb;
}

/* ======= Table Edits ======== */

th {
    background-color: #ffc0cb;
    text-align: center;
    font-weight: bold;
}

table {
    border-collapse: collapse;
    font-weight: bold;
}
    
table, th, td {
    border: 1px solid #000;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-weight: bold;
}

td {
    text-align: center;
}

.table-tags, .attributes, .structure-elements, .directory, .structure-attributes {
    margin: 0 auto 35px;
    text-align: center;
    border-collapse: collapse;
    width: 600px;
}

.table-wrap {
  overflow-x: auto;
}

/* ========= title and text edits ========== */

h2, h1, h4, p {
    text-align: center;
    font-family: Oswald, Merriweather;
}

/* ========= Footer ========== */

footer {
    text-align: center;
}
.bottom {
    margin: 0 auto;
    background-color: lightpink;
    padding: 2px;
    margin-top: 40px;
    color: white;
}

a {
    margin: 0 auto;
    font-style: italic;
}

/*
.btn:hover {
  color: orange;
  text-decoration: underline;
  font-size: 16px;
  border: 2px solid;

} */
