html {
    scroll-behavior: smooth;
}

/* ====== Header/Banner ====== */
h1 { 
    font-size: 2.8rem;
}

h1.wsg {
    font-family: "Ribeye Marrow", Arial, Helvetica, sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 3rem;
    text-transform: uppercase;
    color: #FACC15
}

#top-bar {
    text-align: center;
    background-color: #8B5CF6;
    color:#FACC15;
    padding: 2rem 0 1rem;
    margin-top: 2px;
    box-shadow: 2 4px 10px rgba(0, 0, 0, 0.1);
}

/* ==== Nav Links ==== */

.navigation {
    background-color: #8B5CF6;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
}

.navigation ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    justify-content: center;
}

.navigation li {
    background-color: transparent;
}

.navigation a {
    text-decoration: none;
    color: #FACC15;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 8px;
    padding: 2px;
}

.navigation a:hover {
    background-color: #D946EF;
}

/* ===== Breadcrumbs ==== */
.breadcrumb {
    display: block;
    width: fit-content;
    text-align: center;
    list-style: none;
    margin: 1rem 0;
    padding: .5rem 1rem;
    background-color: #fff8dc;
    border-radius: .5rem;
    box-shadow: 0 2px 6 px #D946EF;
}   

.breadcrumb ul {
    display: flex;
    gap: .5rem;
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0;
}

.breadcrumb li {
    display: inline-block;
    margin: 0 .5rem;
}

.breadcrumb li + li::before {
    content: ">";
    margin: 0 .25rem;
    opacity: .6;
}
/* ===== Breadcrumb links ==== */
.breadcrumb a {
    text-decoration: none;
    color: #333;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

/* ==== Header ==== */
h1 {
    text-align: center;
}

/* ==== Color Cards Section ==== */
#colors {
    max-width: 1000px;
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    border: 1px solid lightgrey;
    border-radius: 15px;
    padding-bottom: 2rem;
}

#colors h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    width: 100%;
}

/* ==== the Card itself ==== */
.color-card {
    background: white;
    text-align: center;
    border: 1px solid rgb(240, 234, 234);
    border-radius: 15px;
    width: 200px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    overflow: hidden;
}

.color-card:hover {
    transform: scale(1.02);
    box-shadow: 2 4px 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    transition: background-color 0.3s ease;
}

/* ==== the Big Color Box ==== */
.swatch {
    height: 110px;
}

/* ==== Name and Code Text ==== */
.color-card h3 {
    margin: .35rem 0 .25rem;
    font-size: 16px;
    font-weight: bold;
    color: #222;
}

.color-card p {
    margin: 0 0 .25rem;
    font-size: 14px;
    padding-bottom: .5rem;
}

/* ==== Individual Color Backgrounds ==== */
.violet {
    background: #8B5CF6;
}

.fuscia {
    background: #D946EF;
}

.orange {
    background: #F59E0B;
}

.yellow {
    background: #FACC15;
}

/* ==== Fonts Section Styling ==== */
#fonts {
    max-width: 1000px;
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    border: 1px solid lightgrey;
    border-radius: 15px;
    padding-bottom: 2rem;
}

#fonts h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    width: 100%;
}
/* ==== Font Cards Section ==== */
.font-section {
    text-align: left;
    border: 1px solid lightgrey;
    border-radius: 15px;
    width: 40%;
    margin: 1rem auto;

}

.font-section:hover {
    transform: scale(1.02);
    box-shadow: 2 4px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}


p {
    font-size: 1rem;
    text-align: center;
}

h3 {
    text-align: center;
}

/* ==== 1st Font Box ==== */
.bbh {
    font-family: "BBH Sans Hegarty", cursive, sans-serif;
    font-size: 2rem;
}

.bold {
    text-decoration: underline;
}

.italic {
    font-style: italic;
}

/* ==== 2nd Font Section ==== */
.shadows {
    font-family: "Shadows Into Light Two", Arial, Helvetica, sans-serif;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

/* ==== 3rd Font Section ==== */
.dosis {
    font-family: "Dosis", Arial, Helvetica, sans-serif;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

/* ==== 4th Font Section ==== */
.ribeye {
    font-family: "Ribeye Marrow", Arial, Helvetica, sans-serif;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

/* ======== Text Style Section ======== */
#text-styles {
    max-width: 100px;
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    border: 1px solid lightgrey;
    border-radius: 15px;
    padding-bottom: 2rem;
}

#text-styles h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    width: 100%;
}

.styles {
    border: 1px solid lightgrey;
    border-radius: 15px;
    width: 80%;
    margin: 1rem auto;
}

.styles:hover {
    transform: scale(1.02);
    box-shadow: 2 4px 10px rgba(0, 0, 0, 0.1);
    transform: scale(1.02);
}

/* ========= Footer ========== */
footer {
    color: #FACC15;
    background-color: #8B5CF6;
    text-align: center;
    text-decoration: underline;
    display: block;
    flex-direction: row;
    align-items: center;
    padding: 2px;
    margin-top: 40px;
}

.button {
    color: #FACC15;
}