html {
    scroll-behavior: smooth;
}

/* ==== Nav Links ==== */
nav ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center;
}

nav a {
    text-decoration: none;
    color: rgb(84, 10, 130);
    font-weight: bold;
}

nav:hover {
    background-color: rgb(229, 231, 235);
}

/* ==== Header ==== */
h1 {
    text-align: center;
}

/* ==== Color Cards Section ==== */
#colors {
    max-width: 1000px;
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

/* ==== the Card itself ==== */
.color-card {
    background: white;
    text-align: center;
    border: 1px solid rgb(240, 234, 234);
    width: 200px;
    overflow: hidden;
}

/* ==== the Big Color Box ==== */
.swatch {
    height: 110px;
}

/* ==== Title for Color Cards ==== */
h2 {
    text-align: center;
}

/* ==== Name and Code Text ==== */
.color-card h3 {
    margin: .35rem 0 .25rem;
    font-size: 16px;
    font-weight: bold;
    color: #222;
}

.color-card p {
    margin: 0 0 .25rem;
    font-size: 14px;
}

/* ==== Individual Color Backgrounds ==== */
.violet {
    background: #8B5CF6;
}

.fuscia {
    background: #D946EF;
}

.amber {
    background: #F59E0B;
}

.yellow {
    background: #FACC15;
}