html {
    scroll-behavior: smooth;
}
body {
    background-color: rgb(255, 250, 252);
}
/* ==== Nav Links ==== */
.navigation ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center;
}

.navigation a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 8px;
    padding: 2px;
}

/* ==== Header ==== */
h1 {
    text-align: center;
}

/* ==== Color Cards Section ==== */
#colors {
    max-width: 1000px;
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    border: 1px solid lightgrey;
    border-radius: 15px;
    padding-bottom: 2rem;
}

#colors h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    width: 100%;
}

/* ==== the Card itself ==== */
.color-card {
    background: white;
    text-align: center;
    border: 1px solid rgb(240, 234, 234);
    border-radius: 15px;
    width: 200px;
    overflow: hidden;
}

/* ==== the Big Color Box ==== */
.swatch {
    height: 110px;
}

/* ==== Name and Code Text ==== */
.color-card h3 {
    margin: .35rem 0 .25rem;
    font-size: 16px;
    font-weight: bold;
    color: #222;
}

.color-card p {
    margin: 0 0 .25rem;
    font-size: 14px;
    padding-bottom: .5rem;
}

/* ==== Individual Color Backgrounds ==== */
.violet {
    background: #8B5CF6;
}

.fuscia {
    background: #D946EF;
}

.orange {
    background: #F59E0B;
}

.yellow {
    background: #FACC15;
}

/* ==== Fonts Section Styling ==== */
#fonts {

}

#fonts h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    width: 100%;
}
/* ==== Font Cards Section ==== */
.font-section {
    text-align: left;
    border: 1px solid lightgrey;
    border-radius: 15px;
    width: 40%;
    margin: 1rem auto;
}

p {
    font-size: 1rem;
}

/* ==== 1st Font Box ==== */
.bbh {
    font-family: "BBH Sans Hegarty", cursive, sans-serif;
    font-size: 2rem;
}

.bold {
    text-decoration: underline;
}

.italic {
    font-style: italic;
}

/* ==== 2nd Font Section ==== */
.shadows {
    font-family: "Shadows Into Light Two", Arial, Helvetica, sans-serif;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

/* ==== 3rd Font Section ==== */
.dosis {
    font-family: "Dosis", Arial, Helvetica, sans-serif;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

/* ==== 4th Font Section ==== */
.ribeye {
    font-family: "Ribeye Marrow", Arial, Helvetica, sans-serif;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}